                   <div class="row">
                   <div class="col-md-8 grid-margin" id="container_list">
                 <div class="card">
                 <div class="card-body">
                 <h4 class="card-title">Create App</h4>
                 <div class="row">
                   <div class="col-md-12">
                     <form class="forms-sample">
                       <div class="form-group row">
                         <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Name</label>
                         <div class="col-sm-8">
                           <input type="text"  name="name" [(ngModel)]="name" class="form-control" placeholder="app-name">
                         </div>
                       </div>
                       <div class="form-group row">
                         <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Minimum Replicas</label>
                         <div class="col-sm-8">
                           <input type="integer" name="minReplicas" [(ngModel)]="minReplicas"  class="form-control"  placeholder="2">
                         </div>
                       </div>

                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>